<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body class="d-flex flex-column">
<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #212121;">
    <div class="container">
        <a class="navbar-brand" href="/home">BOOK SHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books">Books</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()" style="margin-left: 10px; margin-right: -10px">
                    <a class="nav-link">Hello</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" sec:authentication="name"></a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_MODERATOR')">
                    <a class="nav-link" href="/admin">Admin panel</a>
                </li>
            </ul>
            <a class="btn btn-primary" href="payments/charge" sec:authorize="isAuthenticated()">
                <i class="fa fa-shopping-cart"></i> Cart
            </a>
            <a class="btn btn-primary" href="/wish-list" sec:authorize="isAuthenticated()" style="margin-left: 5px">
                <i class="fa fa-shopping-cart"></i> Wish list
            </a>

        </div>
    </div>
</nav>


<div th:if="${param.message}">
    <h2 class="text-center text-primary" th:text="${param.message}"></h2>
</div>

<div th:if="${param.error}">
    <h2 class="text-center text-danger" th:text="${param.error}"></h2>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${books.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped table-dark">
                    <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Book</th>
                        <th scope="col">Author</th>
                        <th scope="col">Available</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book : ${books}">
                        <td><img th:src="${book.getImage64Base()}"/></td>
                        <td th:text="${book.getName()}"></td>
                        <td>
                            <ul th:each="author : ${book.getAuthors()}">
                                <li th:text="${author.getName()}"></li>
                            </ul>
                        </td>
                        <td th:text="${book.getQuantity() > 0 } ? 'In stock' : 'Out of stock'"></td>
                        <td th:text="${book.getQuantity()}"></td>
                        <td th:text="${book.getPrice()}"></td>
                        <td th:text="${book.getCategory() != null} ? ${book.getCategory().getName()} : 'No Category'"></td>
                        <td class="text-right">



                            <!--                            <a th:href="@{/books/{id}/edit(id=${book.getId()})}" class="btn btn-secondary"-->
                            <!--                               sec:authorize="hasRole('ROLE_ADMIN')"><i class="fa fa-trash"-->
                            <!--                                                                        sec:authorize="hasRole('ROLE_ADMIN')">Edit</i>-->
                            <!--                            </a>-->

                            <form th:action="@{/shopping-cart/{id}/new-book(id=${book.getId()})}" th:method="post">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-trash">Add to
                                    cart</i></button>
                            </form>

                            <form th:action="@{/wish-list/{id}/wish-book(id=${book.getId()})}" th:method="post">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-trash">Add to
                                    wish list</i></button>
                            </form>

                            <form th:action="@{/shopping-cart/{id}/remove-book(id=${book.getId()})}" th:method="delete">
                                <button type="submit" class="btn btn-light"><i class="fa fa-trash">Remove
                                    from cart</i></button>
                            </form>
                            <form th:action="@{/books/{id}/edit(id=${book.getId()})}" sec:authorize="hasRole('ROLE_ADMIN')">
                                <button class="btn btn-info"><i class="fa fa-trash">Edit</i></button>
                            </form>
                            <form th:action="@{/books/{id}/delete(id=${book.getId()})}" th:method="delete"
                                  sec:authorize="hasRole('ROLE_ADMIN')">
                                <button type="submit" class="btn btn-danger"><i class="fa fa-trash">Delete</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="/books/new-book" class="btn btn-block btn-dark">Add new book</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="page-content">
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy;</small>
    </div>
</footer>
</body>
</html>



